.textRight{
    text-align: right;
}
.rowclass{
    border-bottom: 1px solid lightgray;
}
.rowclass:last-child{
    border-bottom: none;
}
.floatRight{
    float: right;
}
.action {
    position: center;
    width: 40%;
  /*position: absolute;*/
  /*bottom: 0;*/
}
.cumulus {
    position: center;
    width: 40%;
  /*position: absolute;*/
  /*bottom: 0;*/
}